/**
*   Booking system style
*/

.table {
    display: table;
    /* Allow the centering to work */
    margin: 0 auto;
}

ul#horizontal-list {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

ul#horizontal-list li {
    display: inline;
}

.unb-rooms-list {
    .unb-rooms-items {
        position: relative;
        a {
            img {
                width: 100%;
            }
        }
        .unb-room-overlay {
            padding: 40px;
            cursor: pointer;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            .unb-room-title {
                a {
                    color: #ffffff;
                    font-family: 'Jost';
                    font-size: 50px;
                }
            }
            .unb-room-price {
                color: #ffffff;
                font-family: 'Jost';
                font-size: 40px;
            }
            .unb-room-description {
                color: #ffffff;
                font-family: 'Jost';
                font-size: 14px;
            }
            .unb-room-info {
                position: absolute;
                bottom: 40px;
                left: 40px;
                right: 40px;
                .unb-room-max-people,
                .unb-room-max-booking-days,
                .unb-room-amenities {
                    padding-right: 10px;
                    color: #ffffff;
                    font-family: 'Jost';
                    display: inline-block;
                }
            }
        }
    }
}